html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#bigText {
    text-align: center;
    color: #000000;
}

#mainDiv {
    height: 100%;
    width: 100%;
}

#lowerLeft {
    position: absolute;
    bottom: 5px;
    left: 5px;
}